.back-button-container {
  cursor: pointer;
  position: absolute;
  top: -50px;
  left: -35px;
  z-index: 20;
}

.back-button-container img {
  width: 80%;
}

.footer-logo-container {
  font-size: 10px;
  padding: 40px 0 20px 0;
  text-align: center;
  font-family: "Montserrat";
}

.font-size-30 {
  font-size: 30px;
}

.thank-you-image {
  overflow: hidden;
  height: 385px;
  margin: 15% 0;
}

.thank-you-header {
  width: 100%;
  top: 0%;
}

.thank-you-base {
  width: 90%;
  top: 0%;
}

.thank-you-background {
  width: 80%;
  top: -3%;
  animation: registration-card-mobile 5s infinite linear;
}

.card-text-content {
  position: absolute;
  font-size: 22px;
  font-family: "Montserrat";
  top: 43%;
  left: 15%;
}

@keyframes registration-card-mobile {
  0%{transform: rotate(0);}
  50%{transform: rotate(-15deg)}
  100%{transform: rotate(0);}
}

.thank-you-bubble {
  width: 38%;
  left: 47%;
  top: 6%;
}

.thank-you-base-tip {
  width: 90%;
  top: -2%;
  z-index: 25;
}

.content-header h1 {
  font-family: "Montserrat";
  font-size: 40px;
  padding-top: 25%;
}

.link {
  height: 30%;
  z-index: 5;
  overflow: hidden;
}

@keyframes gradient-spread {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.gradient-background {
  background: linear-gradient(271deg, #ffffff, #333333);
  animation: gradient-spread 4s ease infinite;
}

.gradient-line {
  position: absolute;
  height: 80px;
  top: 0;
  left: 280px;
}

@media only screen and (max-width: 1200px) {
  .scalable-image {
    width: 100%;
  }
}