.footer-logo-container {
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.back-button-container {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.insert-pin-wrapper {
  min-height: 100vh;
}

.insert-pin-image {
  overflow: hidden;
  height: 648px;
  margin-top: 30%;
}

.insert-pin-input {
  width: 63%;
  top: 0%;
  left: 121px;
}

.insert-pin-keyboard {
  width: 100%;
  top: 3%;
}

.content-header {
  padding-bottom: 200px;
}

.insert-pin-enter {
  text-align: center;
  cursor: pointer;
}

.insert-pin-digit {
  position: absolute;
  width: 100%;
  top: -65%;
  left: 2%;
  cursor: pointer;
}

.insert-pin-row {
  position: relative;
  max-height: 100px;
}

.insert-pin-value {
  position: absolute;
  top: 0%;
  left: 50%;
  cursor: pointer;
}

.pin-keyboard {
  padding-top: 180px;
}

.pin-keyboard-row {
  min-height: 135px;
}

.input-masked-values {
  font-size: 50px;
  position: absolute;
  top: 25px;
  color: #0ed8d8;
}

.first {
  left: 215px;
}
.second {
  left: 265px;
}
.third {
  left: 315px;
}
.fourth {
  left: 365px;
}