<app-layout-divider>
  <ng-template #static>
    <div class="back-button-container" (click)=goBack()>
      <img src="assets/svg/back-button-bg.svg" alt="image">
    </div>
    <div class="footer-logo-container">
      Powered by <img src="assets/svg/footer-logo.svg" alt="image">
    </div>
  </ng-template>
  <ng-template #left>
    <div class="row insert-pin-wrapper">
      <div class="col insert-pin-image">
        <img class="position-absolute insert-pin-input" src="assets/svg/pin-input.svg" alt="image">
        <img class="position-absolute insert-pin-keyboard" src="assets/svg/pin-keyboard-temp.svg" alt="image">
      </div>
    </div>
  </ng-template>
  <ng-template #right>
    <div class="row content-header" (click)=invalid()>
      <div class="col offset-md-3">
        <h1 class="heading">Please <br/>enter your <br/>PIN</h1>
      </div>
    </div>
  </ng-template>
</app-layout-divider>
