.footer-logo-container {
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.back-button-container {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.insert-pin-wrapper {
  min-height: 100vh;
}

.insert-pin-image {
  overflow: hidden;
  height: 648px;
  margin-top: 30%;
}

.insert-pin-input {
  width: 63%;
  top: 0%;
  left: 121px;
}

.insert-pin-keyboard {
  width: 100%;
  top: 3%;
}

.content-header {
  padding-bottom: 250px;
}