.footer-logo-container {
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.content-header {
  cursor: pointer;
}

.invalid-nfc-wrapper {
  min-height: 100vh;
}

.invalid-nfc-image {
  overflow: hidden;
  height: 648px;
  margin-top: 30%;
}

.invalid-nfc-base {
  width: 100%;
  top: 0%;
}

.invalid-nfc-icon {
  width: 36%;
  top: 62%;
  left: 53%;
  animation: invalid-nfc-animate-icon 4s infinite linear;
}

.invalid-nfc-background {
  width: 70%;
  top: 2%;
  left: 15%;
}

.invalid-nfc-beacon {
  width: 50%;
  top: 24%;
  left: 8%;
  animation: invalid-nfc-animate-beacon 4s infinite linear;
}

.invalid-nfc-signal {
  width: 16%;
  top: 38%;
  left: 54%;
  animation: invalid-nfc-animate-signal 4s infinite linear;
}

.gradient-line {
  position: absolute;
  height: 60px;
  top: 0;
  left: 280px;
}

@keyframes invalid-nfc-animate-icon {
  0%{width: 36%;top: 62%;left: 53%;}
  50%{width: 29%;top: 65%;left: 56%;}
  100%{width: 36%;top: 62%;left: 53%;}
}

@keyframes invalid-nfc-animate-beacon {
  0%{left: 8%;}
  50%{left: 4%;}
  100%{left: 8%;}
}

@keyframes invalid-nfc-animate-signal {
  0%{left: 54%;}
  50%{left: 60%;}
  100%{left: 54%;}
}