<div class="language-picker-wrapper">
  <div class="row english">
    <div class="content-wrapper" (click)="changeSiteLanguage('en')">
      <span transloco="languageContinue"  translocoLang="en"></span>
      <img src="assets/svg/language-separator.svg" alt="image">
    </div>
  </div>
  <div class="row arabic">
    <div class="content-wrapper" (click)="changeSiteLanguage('arabic')">
      <img src="assets/svg/language-separator.svg" alt="image">
      <span transloco="languageContinue"  translocoLang="arabic"></span>
    </div>
  </div>
</div>
