 <app-layout-divider>
    <ng-template #static>
      <app-divider></app-divider>
      <div class="back-button-container" (click)=goBack()>
        <img src="assets/svg/back-button-bg.svg" alt="image">
      </div>
      <div class="footer-logo-container">
        {{ 'poweredBy' | transloco }}<img src="assets/svg/footer-logo.svg" alt="image">
      </div>
    </ng-template>
    <ng-template #left>
      <div class="row">
        <img class="rotate-50-y m-auto scalable-image" src="assets/svg/trolley-initial-position.svg" alt="image">
      </div>
    </ng-template>
    <ng-template #right>
      <div class="link position-relative" id="cash" (click)="cash()">
        <span class="card-text-content">{{ 'cash' | transloco }}</span>
        <img class="pt-3 scalable-image" src="assets/svg/card-background.svg" alt="image">
        <div class="rotating-cash">
          <img class="position-absolute cash-background" src="assets/svg/cash-background-phone.svg" alt="image">
          <img class="position-absolute cash-rotating-circle" src="assets/svg/cash-rotating-circle-v2.svg" alt="image">
        </div>
        <div class="rotating-cash-copy">
          <img class="position-absolute cash-background" src="assets/svg/cash-background-phone.svg" alt="image">
          <img class="position-absolute cash-rotating-circle" src="assets/svg/cash-rotating-circle-v2.svg" alt="image">
        </div>
      </div>
      <div class="link position-relative" id="card" (click)="card()">
        <span class="card-text-content">{{ 'card' | transloco }}</span>
        <img class="pt-3 scalable-image" src="assets/svg/card-background.svg" alt="image">
        <div class="rotating-card">
          <img class="position-absolute card-base" src="assets/svg/card-base-icon.svg" alt="image">
          <img class="position-absolute card-phone" src="assets/svg/card-phone-icon.svg" alt="image">
        </div>
      </div>
      <div class="link position-relative" id="nfc" (click)="nfc()">
        <span class="card-text-content"> {{ 'nfc' | transloco }}</span>
        <img class="pt-3 scalable-image" src="assets/svg/card-background.svg" alt="image">
        <div class="rotating-nfc">
          <img class="position-absolute nfc-background" src="assets/svg/nfc-background-phone.svg" alt="image">
          <img class="position-absolute nfc-beacon" src="assets/svg/nfc-beacon-icon.svg" alt="image">
          <img class="position-absolute nfc-signal" src="assets/svg/nfc-signal-icon.svg" alt="image">
        </div>
      </div>
      <div class="side-content pr-2">
        <span>SAR <strong>30.00</strong></span>
      </div>
    </ng-template>
 </app-layout-divider>
