.footer-logo-container {
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.back-button-container {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.font-size-30 {
  font-size: 30px;
}

.insert-card-wrapper {
  min-height: 100vh;
}

.insert-card-image {
  overflow: hidden;
  height: 648px;
  margin-top: 30%;
}

.insert-card-header {
  width: 100%;
  top: 0%;
}

.insert-card-card {
  width: 60%;
  left: 21%;
  top: -40%;
  animation: card-animate-up 4s infinite linear;
}

.insert-card-base {
  width: 100%;
  top: 0%;
}

.insert-card-base-tip {
  width: 100%;
  top: -2%;
  z-index: 25;
}

.content-header {
  padding-bottom: 250px;
}

@keyframes gradient-spread {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.gradient-background {
  background: linear-gradient(271deg, #ffffff, #333333);
  animation: gradient-spread 4s ease infinite;
}

.gradient-line {
  position: absolute;
  height: 80px;
  top: 0;
  left: 280px;
}

@keyframes card-animate-up {
  0%{top:100%;}
  20%{top:50%;}
  40%{top:10%;}
  60%{top:10%;}
  80%{top:-10%;}
  100%{top:-40%;}
}