<app-layout-divider>
  <ng-template #static>
    <app-divider></app-divider>
    <div class="back-button-container" (click)=goBack()>
      <img src="assets/svg/back-button-bg.svg" alt="image">
    </div>
    <div class="footer-logo-container">
      Powered by <img src="assets/svg/footer-logo.svg" alt="image">
    </div>
  </ng-template>
  <ng-template #left>
    <div class="row position-relative">
      <img class="m-auto position-absolute input-mask scalable-image" src="assets/svg/nfc-header-input.svg" alt="image">
      <img class="m-auto position-absolute input-icon scalable-image" src="assets/svg/nfc-medal-small.svg" alt="image">
      <span class="input-credits position-absolute">Y credits available</span>
      <span class="rotate-50-y rotating-header position-absolute">Required</span>
      <span class="rotate-50-y rotating-credits position-absolute">X credits</span>
      <img class="rotate-50-y m-auto scalable-image" src="assets/svg/nfc-rotating-image-empty.svg" alt="image">
      <img class="rotate-50-y m-auto rotating-medal scalable-image position-absolute" src="assets/svg/nfc-medal-empty.svg" alt="image">
      <img class="m-auto rotating-star scalable-image position-absolute" src="assets/svg/nfc-star-icon.svg" alt="image">
    </div>
  </ng-template>
  <ng-template #right>
    <div class="link position-relative" id="cash" (click)="redeemCredits()">
      <span class="card-text-content">Redeem X credits</span>
      <img class="pt-3 scalable-image" src="assets/svg/card-background.svg" alt="image">
    </div>
    <div class="link position-relative" id="card" (click)="purchaseCredits()">
      <span class="card-text-content">Purchase credits</span>
      <img class="pt-3 scalable-image" src="assets/svg/card-background.svg" alt="image">
    </div>
  </ng-template>
</app-layout-divider>




