.footer-logo-container {
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.back-button-container {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.font-size-30 {
  font-size: 30px;
}

.redeem-credits-wrapper {
  min-height: 100vh;
}

.redeem-credits-image {
  overflow: hidden;
  height: 648px;
  margin-top: 30%;
}

.redeem-credits-base {
  width: 100%;
  top: 0%;
}

.redeem-credits-phone {
  width: 74%;
  top: 13%;
  left: 17%;
  animation: redeem-rotate-sideways 3s infinite linear;
  animation-direction: alternate;
}

.redeem-credits-signal {
  top: 16%;
  left: 21%;
  animation: redeem-signal-grow 3s infinite linear;
  animation-direction: alternate;
}

.content-header {
  padding-bottom: 250px;
  cursor: pointer;
}

.gradient-line {
  position: absolute;
  height: 80px;
  top: 0;
  left: 280px;
}

@keyframes redeem-rotate-sideways {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(-50deg);}
}

@keyframes redeem-signal-grow {
  0%{top: 16%; left: 21%; width: 11%;}
  100%{top: 10%; left: 14%; width: 22%;}
}